/* Button Globals */
.ds-button{
    --button-bg: transparent;
    --button-border: transparent;
    --button-color: inherit;
    --button-shadow: none;

    cursor: pointer;
    transition: 250ms;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-gap-scale_3, 8px);
    background: var(--button-bg);
    border: var(--button-border);
    color: var(--button-color);
    box-shadow: var(--button-shadow);
    font-family: var(--typography-body-font-family);
    font-size: var(--typography-body-scale-4-font-size);
    font-weight: var(--typography-body-font-weight-regular);
    line-height: var(--typography-body-scale-4-line-height);
    letter-spacing: var(--typography-body-scale-4-letter-spacing);
}

/* Primary Button */
.ds-button[variant="primary"] {
    --button-bg: var(--color-background-action-primary-idle, rgba(145, 190, 250, 0.06));
    --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-primary-idle, rgba(145, 190, 250, 0.06));
    --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-06, rgba(145, 190, 250, 0.06));
    --button-color: var(--color-foreground-action-primary-idle, #91BEFA);
    &:hover{
        --button-bg: var(--color-background-action-primary-hover, rgba(145, 190, 250, 0.12));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-primary-hover, rgba(145, 190, 250, 0.12));
        --button-shadow: 0 0 var(--blur-scale-4, 16px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12));
        --button-color: var(--color-foreground-action-primary-hover, #91BEFA);
    }
    &:active{
        transition: 125ms;
        --button-bg: var(--color-background-action-primary-active, rgba(22, 22, 31, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-primary-active, rgba(110, 163, 254, 0.12));
        --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12)) inset;
        --button-color: var(--color-foreground-action-primary-active, #6EA3FE);
    }
    &:disabled{
        cursor: not-allowed;
        --button-bg: var(--color-border-action-primary-disabled, rgba(250, 253, 246, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-primary-disabled, rgba(250, 253, 246, 0.06));
        --button-shadow: 0 0 var(--blur-scale-2, 4px) 0 var(--button-colors-white-alpha-06, rgba(250, 253, 246, 0.06));
        --button-color: var(--color-foreground-action-primary-disabled, rgba(250, 253, 246, 0.06));
    }
}

/* Secondary Button */
.ds-button[variant="secondary"] {
    --button-bg: var(--color-background-action-secondary-idle, rgba(145, 190, 250, 0.06));
    --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-secondary-idle, rgba(145, 190, 250, 0.06));
    --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-06, rgba(145, 190, 250, 0.06));
    --button-color: var(--color-foreground-action-secondary-idle, #91BEFA);
    &:hover{
        --button-bg: var(--color-background-action-secondary-hover, rgba(145, 190, 250, 0.12));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-secondary-hover, rgba(145, 190, 250, 0.12));
        --button-shadow: 0 0 var(--blur-scale-4, 16px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12));
        --button-color: var(--color-foreground-action-secondary-hover, #91BEFA);
    }
    &:active{
        transition: 125ms;
        --button-bg: var(--color-background-action-secondary-active, rgba(22, 22, 31, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-secondary-active, rgba(110, 163, 254, 0.12));
        --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12)) inset;
        --button-color: var(--color-foreground-action-secondary-active, #6EA3FE);
    }
    &:disabled{
        cursor: not-allowed;
        --button-bg: var(--color-border-action-secondary-disabled, rgba(250, 253, 246, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-secondary-disabled, rgba(250, 253, 246, 0.06));
        --button-shadow: 0 0 var(--blur-scale-2, 4px) 0 var(--button-colors-white-alpha-06, rgba(250, 253, 246, 0.06));
        --button-color: var(--color-foreground-action-secondary-disabled, rgba(250, 253, 246, 0.06));
    }
}

/* Tertiary Button */
.ds-button[variant="tertiary"]{
    --button-bg: var(--color-background-action-tertiary-idle, rgba(145, 190, 250, 0.06));
    --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-tertiary-idle, rgba(145, 190, 250, 0.06));
    --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-06, rgba(145, 190, 250, 0.06));
    --button-color: var(--color-foreground-action-tertiary-idle, #91BEFA);
    &:hover{
        --button-bg: var(--color-background-action-tertiary-hover, rgba(145, 190, 250, 0.12));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-tertiary-hover, rgba(145, 190, 250, 0.12));
        --button-shadow: 0 0 var(--blur-scale-4, 16px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12));
        --button-color: var(--color-foreground-action-tertiary-hover, #91BEFA);
    }
    &:active{
        transition: 125ms;
        --button-bg: var(--color-background-action-tertiary-active, rgba(22, 22, 31, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-tertiary-active, rgba(110, 163, 254, 0.12));
        --button-shadow: 0 0 var(--blur-scale-3, 8px) 0 var(--button-colors-light-blue-alpha-12, rgba(145, 190, 250, 0.12)) inset;
        --button-color: var(--color-foreground-action-tertiary-active, #6EA3FE);
    }
    &:disabled{
        cursor: not-allowed;
        --button-bg: var(--color-border-action-tertiary-disabled, rgba(250, 253, 246, 0.06));
        --button-border: var(--stroke-scale-1, 1px) solid var(--color-border-action-tertiary-disabled, rgba(250, 253, 246, 0.06));
        --button-shadow: 0 0 var(--blur-scale-2, 4px) 0 var(--button-colors-white-alpha-06, rgba(250, 253, 246, 0.06));
        --button-color: var(--color-foreground-action-tertiary-disabled, rgba(250, 253, 246, 0.06));
    }
}

/* Small Button */
.ds-button[size="sm"] {
    padding: var(--space-padding-sm, 4px) var(--space-padding-base, 8px);
    border-radius: var(--radius-scale-3, 8px);
    font-size: var(--typography-body-base-font-size);
    line-height: var(--typography-body-base-line-height);
}

/* Base Button */
.ds-button[size="base"] {
    padding: var(--space-padding-base, 8px) var(--space-padding-lg, 12px);
    border-radius: var(--radius-scale-3, 8px);
    font-size: var(--typography-body-lg-font-size);
    line-height: var(--typography-body-lg-line-height);
}

/* Large Button */
.ds-button[size="lg"] {
    padding: var(--space-padding-lg, 12px) var(--space-padding-xl, 16px);
    border-radius: var(--radius-scale-3, 8px);
    font-size: var(--typography-body-xl-font-size);
    line-height: var(--typography-body-xl-line-height);
}
