<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Button | 93 Design System</title>

    <link rel="stylesheet" href="../../../dist/93.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="column-xl padding-2xl">
      <section class="row-xl">
        <button class="btn btn-primary btn-base">this is a primary button</button>
        <button class="btn btn-secondary btn-base">this is a seconadry button</button>
        <button class="btn btn-tertiary btn-base">this is a tertiary button</button>
      </section>
      <section class="row-xl">
        <button class="btn btn-primary btn-base" disabled>this is a primary button</button>
        <button class="btn btn-secondary btn-base" disabled>this is a seconadry button</button>
        <button class="btn btn-tertiary btn-base" disabled>this is a tertiary button</button>
      </section>
    </div>

    <script src="./button.js"></script>
  </body>
</html>
