<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Button | 93 Design System</title>

    <link rel="stylesheet" href="../../../dist/93.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <ds-grid gap="xl" columns="1">
      <ds-col gap="base">
        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="sm">
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="sm">
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="sm">
          tertiary button
          </button>
        </ds-row>

        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="sm"
          disabled>
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="sm"
          disabled>
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="sm"
          disabled>
          tertiary button
          </button>
        </ds-row>
      </ds-col>

      <ds-col gap="base">
        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="base">
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="base">
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="base">
          tertiary button
          </button>
        </ds-row>

        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="base"
          disabled>
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="base"
          disabled>
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="base"
          disabled>
          tertiary button
          </button>
        </ds-row>
      </ds-col>

      <ds-col gap="base">
        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="lg">
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="lg">
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="lg">
          tertiary button
          </button>
        </ds-row>

        <ds-row gap="base">
          <button
          class="ds-button"
          variant="primary"
          size="lg"
          disabled>
          primary button
          </button>

          <button
          class="ds-button"
          variant="secondary"
          size="lg"
          disabled>
          secondary button
          </button>

          <button
          class="ds-button"
          variant="tertiary"
          size="lg"
          disabled>
          tertiary button
          </button>
        </ds-row>
      </ds-col>
    </ds-col>

    <script src="./button.js"></script>
  </body>
</html>
