<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Icon | 93 Design System</title>

    <link rel="stylesheet" href="../../../dist/93.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <ds-grid gap="base" columns="12">
      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="bell" size="base"></ds-icon>
        <ds-icon name="bell" size="sm"></ds-icon>
        <span>bell</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="book" size="base"></ds-icon>
        <ds-icon name="book" size="sm"></ds-icon>
        <span>book</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="bookmark" size="base"></ds-icon>
        <ds-icon name="bookmark" size="sm"></ds-icon>
        <span>bookmark</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="box" size="base"></ds-icon>
        <ds-icon name="box" size="sm"></ds-icon>
        <span>box</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="browser" size="base"></ds-icon>
        <ds-icon name="browser" size="sm"></ds-icon>
        <span>browser</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="bubble" size="base"></ds-icon>
        <ds-icon name="bubble" size="sm"></ds-icon>
        <span>bubble</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="bubbles" size="base"></ds-icon>
        <ds-icon name="bubbles" size="sm"></ds-icon>
        <span>bubbles</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="calendar" size="base"></ds-icon>
        <ds-icon name="calendar" size="sm"></ds-icon>
        <span>calendar</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="camera" size="base"></ds-icon>
        <ds-icon name="camera" size="sm"></ds-icon>
        <span>camera</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="cancel" size="base"></ds-icon>
        <ds-icon name="cancel" size="sm"></ds-icon>
        <span>cancel</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="cart" size="base"></ds-icon>
        <ds-icon name="cart" size="sm"></ds-icon>
        <span>cart</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="chart" size="base"></ds-icon>
        <ds-icon name="chart" size="sm"></ds-icon>
        <span>chart</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="clock" size="base"></ds-icon>
        <ds-icon name="clock" size="sm"></ds-icon>
        <span>clock</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="cloud" size="base"></ds-icon>
        <ds-icon name="cloud" size="sm"></ds-icon>
        <span>cloud</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="cog" size="base"></ds-icon>
        <ds-icon name="cog" size="sm"></ds-icon>
        <span>cog</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="cross" size="base"></ds-icon>
        <ds-icon name="cross" size="sm"></ds-icon>
        <span>cross</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="dashboard" size="base"></ds-icon>
        <ds-icon name="dashboard" size="sm"></ds-icon>
        <span>dashboard</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="download" size="base"></ds-icon>
        <ds-icon name="download" size="sm"></ds-icon>
        <span>download</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="envelope" size="base"></ds-icon>
        <ds-icon name="envelope" size="sm"></ds-icon>
        <span>envelope</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="eye" size="base"></ds-icon>
        <ds-icon name="eye" size="sm"></ds-icon>
        <span>eye</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="fast_forward" size="base"></ds-icon>
        <ds-icon name="fast_forward" size="sm"></ds-icon>
        <span>fast forward</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="film" size="base"></ds-icon>
        <ds-icon name="film" size="sm"></ds-icon>
        <span>film</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="flag" size="base"></ds-icon>
        <ds-icon name="flag" size="sm"></ds-icon>
        <span>flag</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="folder" size="base"></ds-icon>
        <ds-icon name="folder" size="sm"></ds-icon>
        <span>folder</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="forward" size="base"></ds-icon>
        <ds-icon name="forward" size="sm"></ds-icon>
        <span>forward</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="heart" size="base"></ds-icon>
        <ds-icon name="heart" size="sm"></ds-icon>
        <span>heart</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="home" size="base"></ds-icon>
        <ds-icon name="home" size="sm"></ds-icon>
        <span>home</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="image" size="base"></ds-icon>
        <ds-icon name="image" size="sm"></ds-icon>
        <span>image</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="left" size="base"></ds-icon>
        <ds-icon name="left" size="sm"></ds-icon>
        <span>left</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="location" size="base"></ds-icon>
        <ds-icon name="location" size="sm"></ds-icon>
        <span>location</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="map_marker" size="base"></ds-icon>
        <ds-icon name="map_marker" size="sm"></ds-icon>
        <span>map_marker</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="microphone" size="base"></ds-icon>
        <ds-icon name="microphone" size="sm"></ds-icon>
        <span>microphone</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="moon" size="base"></ds-icon>
        <ds-icon name="moon" size="sm"></ds-icon>
        <span>moon</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="next" size="base"></ds-icon>
        <ds-icon name="next" size="sm"></ds-icon>
        <span>next</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="play" size="base"></ds-icon>
        <ds-icon name="play" size="sm"></ds-icon>
        <span>play</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="plus" size="base"></ds-icon>
        <ds-icon name="plus" size="sm"></ds-icon>
        <span>plus</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="printer" size="base"></ds-icon>
        <ds-icon name="printer" size="sm"></ds-icon>
        <span>printer</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="rain" size="base"></ds-icon>
        <ds-icon name="rain" size="sm"></ds-icon>
        <span>rain</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="refresh" size="base"></ds-icon>
        <ds-icon name="refresh" size="sm"></ds-icon>
        <span>refresh</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="reply_all" size="base"></ds-icon>
        <ds-icon name="reply_all" size="sm"></ds-icon>
        <span>reply_all</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="search" size="base"></ds-icon>
        <ds-icon name="search" size="sm"></ds-icon>
        <span>search</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="sound" size="base"></ds-icon>
        <ds-icon name="sound" size="sm"></ds-icon>
        <span>sound</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="store" size="base"></ds-icon>
        <ds-icon name="store" size="sm"></ds-icon>
        <span>store</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="sun" size="base"></ds-icon>
        <ds-icon name="sun" size="sm"></ds-icon>
        <span>sun</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="support" size="base"></ds-icon>
        <ds-icon name="support" size="sm"></ds-icon>
        <span>support</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="switch" size="base"></ds-icon>
        <ds-icon name="switch" size="sm"></ds-icon>
        <span>switch</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="target" size="base"></ds-icon>
        <ds-icon name="target" size="sm"></ds-icon>
        <span>target</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="trash" size="base"></ds-icon>
        <ds-icon name="trash" size="sm"></ds-icon>
        <span>trash</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="trophy" size="base"></ds-icon>
        <ds-icon name="trophy" size="sm"></ds-icon>
        <span>trophy</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="up" size="base"></ds-icon>
        <ds-icon name="up" size="sm"></ds-icon>
        <span>up</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="upload" size="base"></ds-icon>
        <ds-icon name="upload" size="sm"></ds-icon>
        <span>upload</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="user" size="base"></ds-icon>
        <ds-icon name="user" size="sm"></ds-icon>
        <span>user</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="users" size="base"></ds-icon>
        <ds-icon name="users" size="sm"></ds-icon>
        <span>users</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="video_camera" size="base"></ds-icon>
        <ds-icon name="video_camera" size="sm"></ds-icon>
        <span>video_camera</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="windows" size="base"></ds-icon>
        <ds-icon name="windows" size="sm"></ds-icon>
        <span>windows</span>
      </ds-col>

      <ds-col
        gap="sm"
        align="center"
        style="color: var(--color-foreground-surface-base)"
      >
        <ds-icon name="write" size="base"></ds-icon>
        <ds-icon name="write" size="sm"></ds-icon>
        <span>write</span>
      </ds-col>
    </ds-grid>

    <script type="module" src="../components.js"></script>
  </body>
</html>
