<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Icon | 93 Design System</title>

    <link rel="stylesheet" href="../../../dist/93.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <ds-grid gap="base" columns="12">
      <ds-col gap="sm">
        <ds-icon name="bell" size="base"></ds-icon>
        <span>bell</span>
      </ds-col>
    </ds-grid>

    <script src="./icon.js"></script>
  </body>
</html>
