.column-2xs{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-2xs);
}

.column-xs{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-xs);
}

.column-sm{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-sm);
}

.column-base{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-base);
}

.column-lg{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-lg);
}

.column-xl{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-xl);
}

.column-2xl{
    display: flex;
    flex-direction: column;
    gap: var(--space-gap-2xl);
}