.row-2xs{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-2xs);
}

.row-xs{
    display: flex;
    flex-direction: row;
}

.row-sm{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-sm);
}

.row-base{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-base);
}

.row-lg{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-lg);
}

.row-xl{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-xl);
}

.row-2xl{
    display: flex;
    flex-direction: row;
    gap: var(--space-gap-2xl);
}