/* Gaps */
.gap-2xs{
    gap: var(--space-gap-2xs);
}

.gap-xs{
    gap: var(--space-gap-xs);
}

.gap-sm{
    gap: var(--space-gap-sm);
}

.gap-base{
    gap: var(--space-gap-base);
}

.gap-lg{
    gap: var(--space-gap-lg);
}

.gap-xl{
    gap: var(--space-gap-xl);
}

/* Padding */
.padding-xs{
    padding: var(--space-padding-xs);
}

.padding-sm{
    padding: var(--space-padding-sm);
}

.padding-base{
    padding: var(--space-padding-base);
}

.padding-lg{
    padding: var(--space-padding-lg);
}

.padding-xl{
    padding: var(--space-padding-xl);
}

.padding-2xl{
    padding: var(--space-padding-2xl);
}