:root{
    /* Padding */
  --space-padding-2xs: var(--spacing-scale-0);
  --space-padding-xs: var(--spacing-scale-1);
  --space-padding-sm: var(--spacing-scale-2);
  --space-padding-base: var(--spacing-scale-3);
  --space-padding-lg: var(--spacing-scale-3-5);
  --space-padding-xl: var(--spacing-scale-4);
  --space-padding-2xl: var(--spacing-scale-5);


  /* Gap */
  --space-gap-xs: var(--spacing-scale-1);
  --space-gap-sm: var(--spacing-scale-2);
  --space-gap-base: var(--spacing-scale-3);
  --space-gap-lg: var(--spacing-scale-4);
  --space-gap-xl: var(--spacing-scale-5);


  /* Margin */
  --space-margin-2xs: var(--spacing-scale-1);
  --space-margin-xs: var(--spacing-scale-2);
  --space-margin-sm: var(--spacing-scale-3);
  --space-margin-base: var(--spacing-scale-4);
  --space-margin-lg: var(--spacing-scale-5);
  --space-margin-xl: var(--spacing-scale-6);
  --space-margin-2xl: var(--spacing-scale-7);
}