:root{
  /* Blue */
  --colors-blue: #6EA3FEFF;
  --colors-blue-alpha-00: #6EA3FE00;
  --colors-blue-alpha-06: #6EA3FE0F;
  --colors-blue-alpha-12: #6EA3FE1F;
  --colors-blue-alpha-24: #6EA3FE3D;
  --colors-blue-alpha-48: #6EA3FE7A;
  --colors-blue-alpha-72: #6EA3FEB8;

  /* Light Blue */
  --colors-light-blue: #91BEFAFF;
  --colors-light-blue-alpha-00: #91BEFA00;
  --colors-light-blue-alpha-06: #91BEFA0F;
  --colors-light-blue-alpha-12: #91BEFA1F;
  --colors-light-blue-alpha-24: #91BEFA3D;
  --colors-light-blue-alpha-48: #91BEFA7A;
  --colors-light-blue-alpha-72: #91BEFAB8;

  /* Purple */
  --colors-purple: #C198FDFF;
  --colors-purple-alpha-00: #C198FD00;
  --colors-purple-alpha-06: #C198FD0F;
  --colors-purple-alpha-12: #C198FD1F;
  --colors-purple-alpha-24: #C198FD3D;
  --colors-purple-alpha-48: #C198FD7A;
  --colors-purple-alpha-72: #C198FDB8;

  /* Green */
  --colors-green: #91CF5BFF;
  --colors-green-alpha-00: #91CF5B00;
  --colors-green-alpha-06: #91CF5B0F;
  --colors-green-alpha-12: #91CF5B1F;
  --colors-green-alpha-24: #91CF5B3D;
  --colors-green-alpha-48: #91CF5B7A;
  --colors-green-alpha-72: #91CF5BB8;

  /* Orange */
  --colors-orange: #FF9857FF;
  --colors-orange-alpha-06: #FF98570F;
  --colors-orange-alpha-12: #FF98571F;
  --colors-orange-alpha-24: #FF98573D;
  --colors-orange-alpha-48: #FF98577A;
  --colors-orange-alpha-72: #FF9857B8;

  /* Black */
  --colors-black: #16161FFF;
  --colors-black-alpha-00: #16161F00;
  --colors-black-alpha-06: #16161F0F;
  --colors-black-alpha-12: #16161F1F;
  --colors-black-alpha-24: #16161F3D;
  --colors-black-alpha-48: #16161F7A;
  --colors-black-alpha-72: #16161FB8;

  /* White */
  --colors-white: #FAFDF6FF;
  --colors-white-alpha-00: #FAFDF600;
  --colors-white-alpha-06: #FAFDF60F;
  --colors-white-alpha-12: #FAFDF61F;
  --colors-white-alpha-24: #FAFDF63D;
  --colors-white-alpha-48: #FAFDF67A;
  --colors-white-alpha-72: #FAFDF6B8;
}