:root{
  --spacing-scale-0: 0px;
  --spacing-scale-1: 2px;
  --spacing-scale-2: 4px;
  --spacing-scale-3: 8px;
  --spacing-scale-3-5: 12px;
  --spacing-scale-4: 16px;
  --spacing-scale-5: 32px;
  --spacing-scale-6: 64px;
  --spacing-scale-7: 128px;
}