:root{
  /* Font Families */
  --typography-font-family-sans: Blinker;
  --typography-font-family-serif: Crimson Text;

  /* Font Sizes */
  --typography-font-size-scale-1: 4px;
  --typography-font-size-scale-2: 8px;
  --typography-font-size-scale-3: 12px;
  --typography-font-size-scale-4: 16px;
  --typography-font-size-scale-5: 20px;
  --typography-font-size-scale-6: 24px;
  --typography-font-size-scale-7: 28px;
  --typography-font-size-scale-8: 32px;
  --typography-font-size-scale-9: 72px;

  /* Line Heights */
  --typography-line-height-scale-1: 8px;
  --typography-line-height-scale-2: 12px;
  --typography-line-height-scale-3: 16px;
  --typography-line-height-scale-4: 20px;
  --typography-line-height-scale-5: 24px;
  --typography-line-height-scale-6: 28px;
  --typography-line-height-scale-7: 32px;
  --typography-line-height-scale-8: 36px;
  --typography-line-height-scale-9: 72px;

  /* Font Weights */
  --typography-font-weight-light: Light;
  --typography-font-weight-regular: Regular;
  --typography-font-weight-semibold: SemiBold;
  --typography-font-weight-bold: Bold;

  /* Letter Spacing */
  --typography-letter-spacing-scale-0: 0px;
  --typography-letter-spacing-scale-1: 0.25px;
  --typography-letter-spacing-scale-2: 0.5px;
  --typography-letter-spacing-scale-3: 0.75px;
  --typography-letter-spacing-scale-4: 1px;
  --typography-letter-spacing-scale-5: 1.25px;
  --typography-letter-spacing-scale-6: 1.5px;
  --typography-letter-spacing-scale-7: 1.75px;
  --typography-letter-spacing-scale-8: 2px;
  --typography-letter-spacing-scale-9: 2.25px;
}